---
extends: default

rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  line-length:
    max: 250
    level: warning
  truthy:
    ignore: |
      .github

ignore: |
  .github/stale.yml
  .travis.yml
  .venv
